<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [7]:
#!mamba install pandas==1.3.3 -y
#!pip install pandas==2.1.0
!pip install pandas==1.3.5
#!mamba install requests==2.26.0 -y
#

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas==1.3.5
  Using cached pandas-1.3.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.10/dist-packages (from pandas==1.3.5) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/jvm/.local/lib/python3.10/site-packages (from pandas==1.3.5) (1.26.4)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas==1.3.5) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.5) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.1.0
    Uninstalling pandas-2.1.0:
      Successfully uninstalled pandas-2.1.0
Successfully installed pandas-1.3.5

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime
import os

In [3]:
os.chdir('/home/jvm/ETL/Final_assignment')

In [4]:
pd.__version__

'1.3.5'

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [5]:
!pwd
!ls

/home/jvm/ETL/Final_assignment

In [6]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2024-02-22 11:00:46--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2,7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2,75K  --.-KB/s    in 0s

2024-02-22 11:00:48 (588 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2024-02-22 11:00:48--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1,4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1,40K  --.-KB/s    in 0s

2024-02-22 11:00:48 (807 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2024-02-22 11:00:48--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2024-02-22 11:00:49 (89,5 MB/s) - ‘exchange_rates.csv’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [7]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [8]:
columns=['Name','Market Cap (US$ Billion)']

In [9]:
##Version 1  (frame.append method - For Pandas versions prior to deprecation of frame.append)##
def extract():
    # Write your code here
    extracted_data=pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    
    all_json = glob.glob("*.json")
    all_json.sort()
    
    for jsonfile in all_json:    
        extracted_data=extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
        
    return extracted_data

In [37]:
##Version 2 (pandas.concat method) reasons-> for  newest panda versions with The frame.append method already deprecated. Use pandas.concat instead.##

def extract():
    # Write your code here

    all_json = glob.glob("*.json")
    all_json.sort()
    dataframes_json = [extract_from_json(jsonfile) for jsonfile in  all_json]
    
    extracted_data_json = pd.concat(dataframes_json, ignore_index=True)    
    extracted_data = pd.DataFrame(extracted_data_json, columns=['Name','Market Cap (US$ Billion)']) 
    
    return extracted_data

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [10]:
# Write your code here
exchange_rate=pd.read_csv('exchange_rates.csv',index_col=0)
GBP = exchange_rate.loc[exchange_rate.index=='GBP']
GBP.iloc[0][0]

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [11]:
def transform(data, exchange_rate, currency):
     
    # Write your code here
    GBP = exchange_rate.loc[exchange_rate.index==currency].iloc[0][0]
    data_1=data.copy()
    data_1['Market Cap (US$ Billion)'] =round(data_1['Market Cap (US$ Billion)']*GBP,3)
    transformed_data= data_1.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'})
    return transformed_data

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [12]:
def load(targetfile,data_to_load):
    # Write your code here
     data_to_load.to_csv(targetfile, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [13]:
def log(message):
    # Write your code here
    timestamp_format='%H:%M:%S-%h-%d-%Y'#Hour-Minute-Second-MonthName-Day-Year
    now=datetime.now() # get current timestamp
    timestamp=now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp+','+message+'\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [14]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [15]:
pd.set_option('display.max_rows', None)

In [16]:
# Call the function here
extracted_data=extract()
# Print the rows here
extracted_data.head(5)
#extracted_data

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [17]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [18]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [19]:
# Call the function here
transformed_data=transform(extracted_data, exchange_rate, 'GBP')

# Print the first 5 rows here
transformed_data.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

Log your data <code>"Transform phase Ended"</code>

In [20]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [21]:
# Write your code here
log("Load phase Started")

Call the load function

In [22]:
# Write your code here
load('bank_market_cap_gbp.csv',transformed_data)

Log the following `"Load phase Ended"`.

In [23]:
# Write your code here
log("Load phase Ended")

In [24]:
!pwd
!ls

/home/jvm/ETL/Final_assignment
bank_market_cap_1.json	bank_market_cap_gbp.csv  logfile.txt
bank_market_cap_2.json	exchange_rates.csv

In [25]:
!head -n 6 bank_market_cap_gbp.csv

Name,Market Cap (GBP$ Billion)
JPMorgan Chase,286.319
Industrial and Commercial Bank of China,252.834
Bank of America,238.272
Wells Fargo,225.588
China Construction Bank,188.519

In [26]:
!cat logfile.txt

11:01:27-Feb-22-2024,ETL Job Started
11:01:27-Feb-22-2024,Extract phase Started
11:01:39-Feb-22-2024,Extract phase Ended
11:01:42-Feb-22-2024,Transform phase Started
11:01:48-Feb-22-2024,Transform phase Ended
11:01:51-Feb-22-2024,Load phase Started
11:01:57-Feb-22-2024,Load phase Ended

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).